<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Teacher page</title>
</head>
<body>
    <h1>TEACHER PAGE</h1>
    <br/>
    <div>
        <table>
            <thead>
            <tr>
                <th>Name class</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="schoolClass:${listSchoolClass}" >
                    <td th:utext="${schoolClass.nameClass}"></td>
                    <td>
                        <form action="#" th:action="@{/teacher/subject/{className}(className=${schoolClass.nameClass})}" method="get">
                            <button type="submit" th:name="action" th:value="select">Select</button>
                            <button type="submit" th:name="action" th:value="edit">Edit</button>
                            <button type="submit" th:name="action" th:value="delete">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <form name="formAddSchoolClass" method="post">
            <label>Name class:
                <input type="text" name="newClass" required data-validation-required-message="Please enter class name">
                <br/>
            </label>
            <button type="submit">Create class</button>
        </form>
    </div>

    <br/>
    <a th:href="@{'/teacher/subject'}">Page subjects</a>


</body>
</html>